@model IEnumerable<ProjectMonitor.Models.WorkItemType>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlimTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlinanKisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimAlan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeslimAlinanAdet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlimTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlinanKisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimAlan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeslimAlinanAdet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkItems.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
