@model ProjectMonitor.Models.SampleExtraction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>SampleExtraction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumuneAlisTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumuneAlisTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeslimAlinan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeslimAlinan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TeslimAlan)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TeslimAlan)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumuneIsim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumuneIsim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumuneKodu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumuneKodu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumuneTuru)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumuneTuru)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumuneKurum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumuneKurum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiagenNukleikAsidKodu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiagenNukleikAsidKodu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EkstraksiyonTarihi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EkstraksiyonTarihi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YapanKisi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YapanKisi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Yontem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Yontem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KullanilanKit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KullanilanKit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
