@model IEnumerable<ProjectMonitor.Models.ProjectState>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YardimciKisiler)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tamamlanan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaslangicTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BitisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KalanSure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalismaSure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SorumluKisi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectRoles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YardimciKisiler)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tamamlanan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaslangicTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BitisTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KalanSure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalismaSure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SorumluKisi.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
